:root {
    --primary-color: #1ea4ce;
    --secondary-color: #147594;
    --primary-black: #000000;
    --primary-white: #ffffff;
    --primary-bg-color: #e5e5e5;
    --secondary-bg-color: #dfdee2;
    --secondary-text-color: #697488;
    --ternary-text-color: #6f6f6f;
    --ternary-bg-color: #f2f0fd;
    --input-color: #e0e0e0;
    --count-color: #a8a8a8;
    --image-frame-color: #f3f0fe;
    --product-name-color: #191919;
    --horizontal-line-color: #f4f4f4;
}
